These R packages need to be installed before using the app:
install.packages('shiny')
install.packages('shinydashboard')
install.packages('DT')
install.packages('dplyr')
install.packages('tidyverse')
install.packages('vcfR')
install.packages('readr')
install.packages('ggsurvfit')
install.packages('survival')
install.packages('ggplot2')
install.packages('survminer')
install.packages('lubridate')
install.packages('gtsummary')
library(shiny)
library(shinydashboard)
library(DT)
library(dplyr)
library(tidyverse)
library(vcfR)
library(readr)
library(readxl)
library(ggsurvfit)
library(survival)
library(ggplot2)
library(survminer)
library(lubridate)
library(gtsummary)
