These R packages need to be installed before using the app:
library(shiny)
library(shinydashboard)
library(DT)
library(dplyr)
library(tidyverse)
library(vcfR)
library(readr)
library(readxl)
library(ggsurvfit)
library(survival)
library(ggplot2)
library(survminer)
library(lubridate)
library(gtsummary)